{% load static %}

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/btstrp/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_2.css' %}">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md"> Col 1</div>
      <div class="col-md"> Col 2</div>
      <div class="col-md"> Col 3</div>
    </div>
    <div class="row">Row 2</div>
  </div>
</body>
</html>
